@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@font-face {
    font-family: 'magnablack_condensed';
    src:url('../fontes/magna-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    margin: 0%;
    font-family: 'Josefin Sans', sans-serif;
    background: #f0f0e8;
}
#header{
    width: 100%;
    float: left;
    background:#dcf1f1;
    font-family: 'magnablack_condensed';
    text-align: center !important;
    font-size: 200%;
    padding-top: 2%;
}
#cul{
    font-size: 250%;
    color: #514b4b;
}
#trees{
    font-size: 250%;
    color: #c8d45b;
}
#menu{
    width:100%;
    height: 5%;
    text-align: center;
    background: #dcf1f1;
    position: sticky;
    top: 0;
    z-index: 1543;
}
.itemMenu{
    margin-left: 30%;
}
.itemMenu a{
    float: left;
    width: 10%;
    margin: 1%;
    text-decoration: none;
}
.clear{
    clear: both;
}

#sliderHome{
    width: 90%;
    height: 20%;
}
#slider{
    width: 400px;
    height: 300px;
}
.sliderButton{
    width: 5%;
    height: 35px;
    color: white;
    background: black;
    opacity: 0.5;

}
#slider{
    width: 100%;
    height:40%;
}
#slideImage{
    width: 100%;
    height: 100%;
    z-index: 3;
}
.sldBtn{
    width: 5%;
    z-index: 400;
    height: inherit;
    position: absolute;
    background: #5858587a;
    border: none;
}
#sldLeft{
    float: left;
}
#sldRight{
    right: 0;
}